
:root {

    /*
        color
    */

    --safety-orange : hsl(206, 89%, 55%);
    --lavender-gray : hsl(230, 19%, 81%);
    --persian-rose : hsl(0, 23%, 24%);
    --red-crayola : hsl(233, 80%, 52%);
    --eerie-black : hsl(240, 6%, 10%);
    --light-gray : hsl(0, 0%, 80%);
    --cultured-2 : hsl(210, 60%, 98%);
    --platinum : hsl(210, 60%, 98%);
    --gray-web : hsl(220, 5%, 49%);
    --cultured: hsl(0, 1%, 85%);
    --black_10 : hsla(0, 0%, 0%, 0.1);
    --black_5 : hsla(0, 0%, 0%, 0.05);
    --white-1 : hsl(0, 0%, 100%);
    --white-2 : hsl(0, 14%, 98%);
    --black : hsl(0, 0%, 0%);

    /*
        gradiant-color
    */

    --gradient : linear-gradient(to left top, var(--persian-rose), var(--safety-orange));

    /*
        typography    
    */

    --ff-poppins : 'Poppins', sans-serif;
    --fs-1 : 3rem;
    --fs-2 : 2.3rem;
    --fs-3 : 1.8rem;
    --fs-4 : 1.4rem;
    --fs-5 : 1.1rem;
    --fs-6 : 1.0rem;

    --fw-700 : 700;
    --fw-500 : 500;

    /*
        spacing
    */

    --section-panding : 60px;

    /*
        shadow
    */
    --shadow-1 : 0 6px 24px var(--black_5);
    --shadow-2 : 0 2px 28px var(--black_10);

/*
transition
*/

--transition-1 : 0.25s ease;
--transition-2 : 0.5s ease;
--cubic-out : cubic-bezier(0.33, 0.85, 0.4, 0.96);


}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a { text-decoration: none; color: inherit }

a,
img,
span,
time,
label,
input,
button,
textarea,
span { display: block;}

img { height: auto}

input,
button,
textarea {
    background: none;
    border : none;
    font : inherit
}

input,
textarea { width: 100%;}

button { cursor: pointer;}

span {pointer-events: none}

address { font-style: normal}

.h1,
.h2,
.h3 {
   color: var(--eerie-black);
   line-height: 1.2;
}

.h1 { font-size: var(--fs-1); }

.h2 {font-size: var(--fs-2);}

.h3 {font-size: var(--fs-3);}

.w-100 { width: 100%; }

.section-title,
.section-text { text-align: center;}

.section-text {font-size: var(--fs-6);}

.grid-list {
    display: grid;
    gap:  30px;
}



body {

    background-color: var(--white-1);
    color: var(--gray-web);
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: var(--ff-poppins);
    height: 300vh;
}

::-webkit-scrollbar { width: 10px;}

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%);}

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%);}

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%);}

.logo-img {
    max-width: 9rem;
    height: 2.5rem;
}

.container { padding-inline: 15px; }

.btn {
    max-width: 100%;
    color: var(--white-1);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 10px 30px;
    border-radius: 3px ;
    transition: var(--transition-1);
    display: block;
}

.btn-primary {
    background-image: var(--gradient);
    background-size: 100%;
}

.btn-primary:is(:hover, :focus) {background-position: bottom right;}

.btn-secondary {
    background-image: var(--white-1);
    color: var(--eerie-black);
}

.btn-secondary:is(:hover, :focus) {
    background-color: var(--eerie-black); 
    color: var(--white-1); }


.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-1);
    padding-block: 15px;
    border-block-end: 1px solid var(--cultured);
    z-index: 4;
    transition: var(--transition-1);
 }

 .header.active {filter: drop-shadow(var(--shadow-2));}

 .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav-toggle-btn.active .open,
 .nav-toggle-btn .close { display: none; }

 .nav-toggle-btn .open,
 .nav-toggle-btn.active .close { display: block; }

 .navbar {
    background-color: var(--white-1);
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% - 30px);
    width: 100%;
    padding-inline: 0;
    border: 1px solid var(--cultured);
    transition: .3s var(--cubic-out);
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
 }

 .navbar.active {
    max-height: 320px;
    visibility: visible;
    transition-duration: .5s;
    text-align: center;
 }

 .navbar-list {
    padding: 10px 15px;
    padding-block-start: 10px;
    opacity: 0;
    transition: var(--transition-1);
 }

 .navbar.active .navbar-list {
    opacity: 1;
 }

 .navbar-link {
    color : var(--eerie-black);
    font-family: var(--ff-poppins);
    font-size: var(--fs-5);
    line-height: 1.2;;
    padding-block: 8px;
    transition: var(--transition-1);
 }

 .navbar-link:is(:hover, :focus) {color: var(--red-crayola);}

 /* .header .btn {} */


 .section { padding-block: var(--section-panding); }


 .hero {
    padding-block-start: calc(var(--section-panding) + 50px);
    text-align: center;
 }

 .hero-content {
    margin-block-end: 30px;
 }

 .hero-subtitle {
    color: var(--eerie-black);
    font-size : var(--fs-5);
    font-weight : var(--fw-500)
 }

 .hero-title {margin-block: 12px 8px;}

 .hero-text {font-size: var(--fs-5);}

 .hero .btn {
    margin-inline: auto;
    margin-block-start: 20px;
 }


 /* service */

 .service { background-color: var(--white-2); }

 .service .service-text {margin-block: 5px 35px;}

 .service-card {
    background-color: var(--white-1);
    padding: 20px 15px;
    border: 1px solid var(--platinum);
    border-radius: 7px;
    text-align: center;
    box-shadow: var(--shadow-1);
    transition: var(--transition-2);
 }

 .service-card .card-icon {
    color: var(--white-1);
    font-size: 25px;
    max-width: max-content;
    margin-inline: auto;
    padding: 18px;
    border-radius: 50%;
 }

 .service-card .card-title { margin-block: 20px 8px;}

 .service-card .card-text { font-size: var(--fs-6);}

 /* end service */


 /* customers */

 .customers {
    background-color: var(--black);

 }

 .number-customers {
    display: flex;
    text-align: center;
    height: 26vh;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
 }


 .number-customers span {
    font-weight: bolder;
    color: var(--cultured);

 }

 /*end customers */


.about {
    background-color: var(--white-1);
}

.about-banner {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-block-end: 25px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-1);
    color: var(--red-crayola);
    font-size: 32px;
    padding: 16px;
    border-radius: 50%;
    animation: pulse 1.5s ease-in-out infinite;

}

@keyframes pulse {
    0% { box-shadow: 0 0 0 1px var(--white-1); }
    100% { box-shadow: 0 0 0 25px transparent; }
}

.about :is(.section-title, .section-text) { text-align: left;}

.about .section-title { margin-block-end: 5px;}

.about .section-text:not(:last-child) {margin-block-end: 18px;}

.about .h3 {
    margin-block-end: 8px;
}

.about-list { margin-block: 15px 18px;}

.about-item {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.about-item span {
    color: var(--red-crayola);
    flex-shrink: 0;
    margin-block-start: 2px;
    padding: 16px;
}

.about-item:not(:last-child) {margin-block-end: 12px;}


.cta {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.cta::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--gradient);
    opacity: 0.95;
    z-index: -1;
}

.cta-subtitle,
.cta .section-title { color: var(--white-1); }

.cta .section-title { margin-block: 12px 18px;}

.cta .btn { margin-inline: auto;}


.contact { background-color: var(--white-2); }

.contact .section-text {margin-block: 5px 35px;}

.contact-form {
    background-color: var(--white-1);
    padding: 20px;
    border-radius: 10px;
    margin-block-end: 30px;
    box-shadow : var(--shadow-1);
}

.input-field {
    background-color: var(--white-2);
    color: var(--eerie-black);
    font-size: var(--fs-5);
    padding: 15px;
    border-radius: 10px;
    outline: 1px solid transparent;
    outline-offset: 0;
    margin-block-end: 15px;
}

.input-field::-webkit-inner-spin-button {display: none;}

.input-field:focus {outline-color : var(--red-crayola)};

.input-field::placeholder {transition: var(--transition-1);}

.input-field:focus::placeholder {opacity: 0;}

textarea.input-field {
    resize: vertical;
    min-height: 80px;
    height: 100px;
    max-height: 200px;
    overscroll-behavior: contain;
}

.checkbox {
    width: max-content;
    margin-block-start: 5px;
    accent-color : var(--red-crayola)
}

.label-link {
    display: inline;
    color: var(--red-crayola);
}

.label-link:is(:hover, :focus) {text-decoration: underline;}

.checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-block-end: 15px;
}

.checkbox-wrapper .label {
    flex-direction: row;
    font-size: var(--fs-6);
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 25px
}

.contact-item {min-width: 100%;}

.contact-card {
    background-color: var(--white-1);
    padding: 20px;
    border-radius: 10px;
    box-shadow : var(--shadow-1);
    display: flex;
    align-items: flex-start;
    gap : 15px
}

.contact-card .card-icon {
    background-color: var(--cultured-2);
    color: var(--red-crayola);
    font-size: 25px;
    padding: 13px;
    border-radius: 10px;
    transition: var(--transition-1);
}

.contact-card:is(:hover, :focus) .card-icon {
    background-color: var(--red-crayola);
    color: var(--white-1);
}

.contact-card .card-title { margin-block-end: 5px; }

.contact-card :is(.card-link, .card-address) {
    font-size: var(--fs-6);
    transition: var(--transition-1);
}

.contact-card .card-link:is(:hover, :focus) {color : var(--red-crayola)}

.footer {
    background-color: var(--white-2);
    padding-block: 20px;
}

.copyright {
    font-size: var(--fs-6);
    text-align: center;
}

.copyright-link {
    color: var(--red-crayola);
    font-weight: var(--fw-500);
    display:inline-block;    
}

.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--eerie-black);
    color: var(--white-1);
    padding: 12px;
    border-radius: 50%;
    box-shadow: var(--shadow-2);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}

.back-top-btn:is(:hover, :focus) {
    opacity: 0.9;
}